/**************** Media Query *****************
***** @author: Pankaj Saha
******@Last update: 04-Jun-2021 
**********************************************/
/* 
  ##Device = Extra large devices
  ##Screen = large laptops and desktops, 1280px and up
*/
@media (min-width: 1280px) {  

  /* CSS */  
  
}

/* 
  ##Device = Large devices
  ##Screen = laptops/desktops, 992px and up
*/
@media (min-width: 992px) and (max-width: 1280px) {  

  /* CSS */  
  
}

/* 
  ##Device = Medium devices
  ##Screen = landscape tablets, 768px and up
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Small devices
  ##Screen = portrait tablets and large phones, 600px and up
*/
@media (min-width: 600px) and (max-width: 768px) {
  
  /* CSS */
  
}

/* 
  ##Device = Smartphones devices
  ##Screen = Most of the Smartphones Mobiles, 480px and up
*/
@media (min-width: 480px) and (max-width: 600px) {
  
  /* CSS */
  
}

/* 
  ##Device = Extra small devices
  ##Screen = phones, 480px and down
*/

@media (max-width: 480px) {
  
  /* CSS */
  
}